#pragma code_page(65001)

#include <windows.h>

#define IDI_APP_ICON 101

#ifndef AZZS_APPLICATION_VERSION
#error AZZS_APPLICATION_VERSION must be supplied by the authoritative product version source
#endif
#ifndef AZZS_WINDOWS_VERSION
#error AZZS_WINDOWS_VERSION must be supplied by the authoritative product version source
#endif
#ifndef AZZS_WINDOWS_VERSION_COMMAS
#error AZZS_WINDOWS_VERSION_COMMAS must be supplied by the authoritative product version source
#endif

IDI_APP_ICON ICON "..\\..\\..\\..\\assets\\product\\generated\\windows\\windows-initial-setup-workbench.ico"

1 VERSIONINFO
 FILEVERSION AZZS_WINDOWS_VERSION_COMMAS
 PRODUCTVERSION AZZS_WINDOWS_VERSION_COMMAS
 FILEFLAGSMASK VS_FFI_FILEFLAGSMASK
#ifdef _DEBUG
 FILEFLAGS VS_FF_DEBUG
#else
 FILEFLAGS 0x0L
#endif
 FILEOS VOS_NT_WINDOWS32
 FILETYPE VFT_APP
 FILESUBTYPE VFT2_UNKNOWN
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "080404B0"
    BEGIN
      VALUE "CompanyName", "CoolPlume\0"
      VALUE "FileDescription", "Windows 初装工作台：帮助新装 Windows 完成驱动准备、系统优化、常用软件安装和软件优化。\0"
      VALUE "FileVersion", AZZS_WINDOWS_VERSION "\0"
      VALUE "InternalName", "Azzs.WinUI.exe\0"
      VALUE "LegalCopyright", "Copyright (c) 2026 CoolPlume\0"
      VALUE "OriginalFilename", "Azzs.WinUI.exe\0"
      VALUE "ProductName", "Windows 初装工作台\0"
      VALUE "ProductVersion", AZZS_APPLICATION_VERSION "\0"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x0804, 1200
  END
END
