#pragma code_page(65001)

#define AZZS_STRINGIFY_IMPL(value) #value
#define AZZS_STRINGIFY(value) AZZS_STRINGIFY_IMPL(value)

1 VERSIONINFO
 FILEVERSION AZZS_WINDOWS_VERSION_COMMAS
 PRODUCTVERSION AZZS_WINDOWS_VERSION_COMMAS
 FILEFLAGSMASK 0x3fL
 FILEOS 0x00040004L
 FILETYPE 0x00000001L
 BEGIN
   BLOCK "StringFileInfo"
   BEGIN
     BLOCK "040904B0"
     BEGIN
       VALUE "AzzsWindowsVersionCommasProbe", AZZS_STRINGIFY(AZZS_WINDOWS_VERSION_COMMAS) "\0"
     END
   END
 END
